<%- model_class = Gist -%>

<hr>

<center>
<h1> Lista Gistów </h1>

<hr>
<%= link_to "	<button type=\"button\" 
		class=\"btn btn-default btn-xxl\">
		<span class=\"glyphicon glyphicon-plus\">
		New Gist</span>
		</button>".html_safe, new_gist_path %>
<hr>


		<form class="form">
			<%= form_tag(gists_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Search by language", class: "input-large" %>
			<%= submit_tag "Search", class: "btn btn-default btn-xxl" %>
			<% end %>
		</form>

</center>

<div id="infinite-scrolling" style="visibility: hidden;">
	<%= will_paginate %>
</div>

<div id="my-gists">
	<div class="jumbotrom">
		<div class="container">
			<div class="row">
				<%= render @gists %>
			</div>
		</div>
	</div>
</div>
