<p id="notice"><%= notice %></p>

<p>
  <strong>Lang:</strong>
  <%= @gist.lang %>
</p>

<p>
  <strong>Snippet:</strong>
</p>

<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>

<p>
  <strong>Description:</strong>
  <%= @gist.description %>
</p>


<%= link_to "	<button type=\"button\" 
		class=\"btn btn-default btn-xxl\">
		<span class=\"glyphicon glyphicon-home\">
		Strona Główna</span>
		</button>".html_safe, gists_path %>


<%= link_to "	<button type=\"button\" 
		class=\"btn btn-default btn-xxl\">
		<span class=\"glyphicon glyphicon-cog\">
		Edytuj Gist</span>
		</button>".html_safe, edit_gist_path(@gist) %>
